/* Global Reset */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    justify-items: center;
    font-family: monospace;
    padding: 20px;
    background: linear-gradient(to bottom right, #f5f7fa, #c3cfe2);

}

/* Layout Utama */
main {
    padding: 24px;
    border-radius: 8px;
    background-color: azure;
    max-width: 700px;
    margin: auto;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* Header & Footer */
header,
footer {
    text-align: center;
    margin-bottom: 20px;
}

h2 {
    font-size: 18px;
}

footer p {
    font-size: 14px;
    color: #666;
}

/* Input dan Textarea */
input[type=number],
textarea {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    resize: none;
}

.input-error {
    border: 1px solid red !important;
    background-color: #ffe6e6;
}

/* Tombol */
button {
    border: 0;
    padding: 10px 16px;
    color: white;
    border-radius: 8px;
    cursor: pointer;
    margin: 4px 8px 8px 0;
    font-weight: bold;
}

.bg-lightseagreen {
    background-color: lightseagreen;
}

.bg-lightcoral {
    background-color: lightcoral;
}

.bg-lightblue {
    background-color: lightblue;
}

/* Konten Rumus */
.rumus-content {
    font-size: 20px;
    font-weight: bold;
    margin: 8px 0;
}

/* Utility Class */
.padding-medium {
    padding: 16px;
}

section {
    margin-bottom: 24px;
}